
.signup_page {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    position: relative;
}

.signup_container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}


.signup_box {
    transform: translateY(-10%);
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: relative;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

h1 {
    font-family: 'Roboto mono';
    margin-bottom: 40px;
    font-weight: 300;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 8px;
  width: 350px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 220px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }

button.social-signin {
    display: block;
    margin-bottom: 20px;
    width: 220px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}
  
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin.google {
    background: #DD4B39;
  }

.already {
    text-align: right;
    width: 100%;
    padding-top: 5px;
}

.already > button {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Georama';
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    background: #fff;
}
