.navbar {
    display: flex;
    height: 60px;
    padding: 0 30px;
    position: relative;
}


.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    user-select: none;
    z-index: 2;
}

.item-container {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item > a {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'roboto mono';
    cursor: pointer;
    color: black;
}